:root {
  --bslib-sidebar-main-bg: #ebf5fd;
}

.popover {
  --bs-popover-header-bg: #222;
  --bs-popover-header-color: #fff;
}

.popover .btn-close {
  filter: var(--bs-btn-close-white-filter);
}

/* new gradient style for h1 */
.h1 {
  background: linear-gradient(to right, #3f02d9, #b308f1);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}

/* value box */
.value-box {
  background-color: #b308f1;
  padding: 10px;
  border-radius: 5px;
}

/*search button*/
.small-button {
  width: 100px; /*adjust as needed*/
  height: 30px; /*adjust as needed*/
  font-size: 12px; /*adjust as needed
}
  /*card header*/
  .card-header {
    color:white; background:#746e6e !important;
  }